In [3]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
import os

In [4]:
pwd = os.getcwd()

In [5]:
df_2020 = pd.read_csv(pwd + "/Dataset IT Salary Survey EU 2018-2020/Data - IT Salary Survey EU 2020.csv")
df_2020

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
0,24/11/2020 11:14:15,26.0,Male,Munich,Software Engineer,5,3,Senior,TypeScript,"Kotlin, Javascript / Typescript",...,10000,30,Full-time employee,Unlimited contract,English,51-100,Product,No,NaN,NaN
1,24/11/2020 11:14:16,26.0,Male,Berlin,Backend Developer,7,4,Senior,Ruby,NaN,...,5000,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
2,24/11/2020 11:14:21,29.0,Male,Berlin,Software Engineer,12,6,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",...,100000,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes,NaN,NaN
3,24/11/2020 11:15:24,28.0,Male,Berlin,Frontend Developer,4,1,Junior,Javascript,NaN,...,NaN,24,Full-time employee,Unlimited contract,English,51-100,Startup,No,NaN,NaN
4,24/11/2020 11:15:46,37.0,Male,Berlin,Backend Developer,17,6,Senior,C# .NET,".NET, SQL, AWS, Docker",...,NaN,29,Full-time employee,Unlimited contract,English,101-1000,Product,No,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1248,18/01/2021 15:05:50,31.0,Male,Berlin,Backend Developer,9,5,Senior,Java,"Python, Javascript / Typescript, Java / Scala,...",...,72000,26,Full-time employee,Unlimited contract,English,51-100,Product,Yes,NaN,NaN
1249,18/01/2021 17:46:02,33.0,Male,Berlin,Researcher/ Consumer Insights Analyst,10,1.5,Senior,consumer analysis,NaN,...,2500,unlimited,Full-time employee,Unlimited contract,English,1000+,Product,No,NaN,0
1250,18/01/2021 23:20:35,39.0,Male,Munich,IT Operations Manager,15,2,Lead,PHP,"Python, C/C++, Javascript / Typescript, Java /...",...,NaN,28,Full-time employee,Unlimited contract,English,101-1000,eCommerce,No,NaN,NaN
1251,19/01/2021 10:17:58,26.0,Male,Saarbrücken,Frontend Developer,7,7,Middle,JavaScript,"Javascript / Typescript, Docker, HTML, CSS; Ad...",...,36400,27,Full-time employee,Unlimited contract,German,101-1000,Product,No,NaN,0
1252,19/01/2021 12:01:11,26.0,Male,Berlin,DevOps,2,2,Middle,yaml,"Python, AWS, Kubernetes, Docker, terraform, an...",...,0,30,Full-time employee,Unlimited contract,English,51-100,Startup,No,30.0,600

In [12]:
df_2020_modified = df_2020.copy()

In [13]:
df_2020_modified.columns
list(df_2020_modified)

['Timestamp',
 'Age',
 'Gender',
 'City',
 'Position ',
 'Total years of experience',
 'Years of experience in Germany',
 'Seniority level',
 'Your main technology / programming language',
 'Other technologies/programming languages you use often',
 'Yearly brutto salary (without bonus and stocks) in EUR',
 'Yearly bonus + stocks in EUR',
 'Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country',
 'Annual bonus+stocks one year ago. Only answer if staying in same country',
 'Number of vacation days',
 'Employment status',
 'Сontract duration',
 'Main language at work',
 'Company size',
 'Company type',
 'Have you lost your job due to the coronavirus outbreak?',
 'Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week',
 'Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR']

In [28]:
survey_columns = list(df_2020_modified.columns[20:24])
survey_columns

['Have you lost your job due to the coronavirus outbreak?',
 'Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week',
 'Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR']

In [38]:
fill_answer_values = {
    survey_columns[0] : 'No Answer',
    survey_columns[1] : 'No',
    survey_columns[2] : 0,
}

df_2020_modified[survey_columns] = df_2020_modified[survey_columns].fillna(fill_answer_values)

In [40]:
information_columns = list(df_2020_modified.columns[0:20])
information_columns

['Timestamp',
 'Age',
 'Gender',
 'City',
 'Position ',
 'Total years of experience',
 'Years of experience in Germany',
 'Seniority level',
 'Your main technology / programming language',
 'Other technologies/programming languages you use often',
 'Yearly brutto salary (without bonus and stocks) in EUR',
 'Yearly bonus + stocks in EUR',
 'Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country',
 'Annual bonus+stocks one year ago. Only answer if staying in same country',
 'Number of vacation days',
 'Employment status',
 'Сontract duration',
 'Main language at work',
 'Company size',
 'Company type']

In [51]:
fill_information_values = {
    information_columns[0] : 'No Answer',
    information_columns[1] : 'No Answer',
    information_columns[2] : 'No Answer',
    information_columns[3] : 'No Answer',
    information_columns[4] : 'No Answer',
    information_columns[5] : 'No Answer',
    information_columns[6] : 'No Answer',
    information_columns[7] : 'No Answer',
    information_columns[8] : 'No Answer',
    information_columns[9] : 'No Answer',
    information_columns[10] : 'No Answer',
    information_columns[11] : 'No Answer',
    information_columns[12] : 'No Answer',
    information_columns[13] : 'No Answer',
    information_columns[14] : 'No Answer',
    information_columns[15] : 'No Answer',
    information_columns[16] : 'No Answer',
    information_columns[17] : 'No Answer',
    information_columns[18] : 'No Answer',
    information_columns[19] : 'No Answer',
}

df_2020_modified[information_columns] = df_2020_modified[information_columns].fillna(fill_information_values)

In [73]:
unique_values = df_2020_modified['Have you lost your job due to the coronavirus outbreak?'].unique()
unique_values

array(['No', 'Yes',
       "i didn't but will be looking for new one because of covid",
       'No Answer', 'kurzarbeitzeit for 1.5 months',
       'Have been a freelancer at the beginning of year',
       'No, but there was a salary cut at 10% for 3 months and then at 5% for further 3 months',
       'Lost the job but for different reason',
       'Leads and project inquiries have slowed down',
       'Laid off for a bit',
       'yes but found a new one with better pay / perks'], dtype=object)

In [74]:
def standardize_job_loss_response(response):
    response = str(response).lower()  # Convert response to lowercase for easier comparison
    if 'yes' in response or 'yes but found a new one with better pay / perks' in response or 'laid off' in response or 'lost the job' in response or "i didn't but will be looking for new one because of covid" in response or 'Have been a freelancer at the beginning of year' in response:
        return 'Yes'
    elif 'no' in response or 'Laid off for a bit' in response or 'Leads and project inquiries have slowed down' in response or "didn't" in response or "did not" in response or "No, but there was a salary cut at 10% for 3 months and then at 5% for further 3 months" in response or "Lost the job but for different reason" in response:
        return 'No'
    elif 'kurzarbeitzeit for 1.5 months' in response:
        return 'No Answer'
    else:
        return 'No Answer'
    
df_2020_modified['Have you lost your job due to the coronavirus outbreak?'] = df_2020_modified['Have you lost your job due to the coronavirus outbreak?'].apply(standardize_job_loss_response)

In [76]:
# Display unique values after standardization
unique_values_after = df_2020_modified['Have you lost your job due to the coronavirus outbreak?'].unique()
print(unique_values_after) #This checks unique values if they are converted to 'No', 'Yes' or 'No Answer'

['No' 'Yes' 'No Answer']

In [78]:
max_salary = df_2020_modified['Annual Gross Salary without Bonus + Stocks (EUR)'].max()
max_salary #Theres was a value of 999999.00 and i converted it to No Answer

TypeError: '>=' not supported between instances of 'float' and 'str'

In [66]:
df_2020_modified['Yearly brutto salary (without bonus and stocks) in EUR'] = df_2020_modified['Yearly brutto salary (without bonus and stocks) in EUR'].replace(99999999999.0, 'No Answer')

In [79]:
df_2020_modified = df_2020_modified.rename(columns={
    'Yearly brutto salary (without bonus and stocks) in EUR': 'Annual Gross Salary without Bonus + Stocks (EUR)',
    'Yearly bonus + stocks in EUR': 'Annual Bonus + Stocks (EUR)',
    'Your main technology / programming language': 'Main Programming Language',
    'Other technologies/programming languages you use often': 'Secondary Programming Languages'
})

In [80]:
df_cleaned = df_2020_modified.copy()

In [81]:
df_cleaned

,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Main Programming Language,Secondary Programming Languages,...,Annual bonus+stocks one year ago. Only answer if staying in same country,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type,Have you lost your job due to the coronavirus outbreak?,"Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week","Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR"
0,24/11/2020 11:14:15,26.0,Male,Munich,Software Engineer,5,3,Senior,TypeScript,"Kotlin, Javascript / Typescript",...,10000,30,Full-time employee,Unlimited contract,English,51-100,Product,No,No,0
1,24/11/2020 11:14:16,26.0,Male,Berlin,Backend Developer,7,4,Senior,Ruby,No Answer,...,5000,28,Full-time employee,Unlimited contract,English,101-1000,Product,No,No,0
2,24/11/2020 11:14:21,29.0,Male,Berlin,Software Engineer,12,6,Lead,Javascript / Typescript,"Javascript / Typescript, Docker",...,100000,30,Self-employed (freelancer),Temporary contract,English,101-1000,Product,Yes,No,0
3,24/11/2020 11:15:24,28.0,Male,Berlin,Frontend Developer,4,1,Junior,Javascript,No Answer,...,No Answer,24,Full-time employee,Unlimited contract,English,51-100,Startup,No,No,0
4,24/11/2020 11:15:46,37.0,Male,Berlin,Backend Developer,17,6,Senior,C# .NET,".NET, SQL, AWS, Docker",...,No Answer,29,Full-time employee,Unlimited contract,English,101-1000,Product,No,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1248,18/01/2021 15:05:50,31.0,Male,Berlin,Backend Developer,9,5,Senior,Java,"Python, Javascript / Typescript, Java / Scala,...",...,72000,26,Full-time employee,Unlimited contract,English,51-100,Product,Yes,No,0
1249,18/01/2021 17:46:02,33.0,Male,Berlin,Researcher/ Consumer Insights Analyst,10,1.5,Senior,consumer analysis,No Answer,...,2500,unlimited,Full-time employee,Unlimited contract,English,1000+,Product,No,No,0
1250,18/01/2021 23:20:35,39.0,Male,Munich,IT Operations Manager,15,2,Lead,PHP,"Python, C/C++, Javascript / Typescript, Java /...",...,No Answer,28,Full-time employee,Unlimited contract,English,101-1000,eCommerce,No,No,0
1251,19/01/2021 10:17:58,26.0,Male,Saarbrücken,Frontend Developer,7,7,Middle,JavaScript,"Javascript / Typescript, Docker, HTML, CSS; Ad...",...,36400,27,Full-time employee,Unlimited contract,German,101-1000,Product,No,No,0
1252,19/01/2021 12:01:11,26.0,Male,Berlin,DevOps,2,2,Middle,yaml,"Python, AWS, Kubernetes, Docker, terraform, an...",...,0,30,Full-time employee,Unlimited contract,English,51-100,Startup,No,30.0,600

In [83]:
# Export the cleaned DataFrame to a CSV file (Change the file path to your own file path if you want to use)
output_file_path = r'C:\Users\bryxp\OneDrive\Documents\DataAnalyticsforITSalarySurveyEu\Data Analytics\Dataset IT Salary Survey EU 2018-2020\Data - IT Salary Survey EU 2020 Edited.csv'
df_cleaned.to_csv(output_file_path, index=False)